In [16]:
import pandas as pd
import plotly.express as px

In [3]:
df = pd.read_csv("data/data_home.csv")

In [4]:
df

                   datetime  user  steps   hr  intensity  kind  school
0       2021-05-10 00:00:00     4      0  255          0   115   False
1       2021-05-10 00:00:00     5      0  255          0   115   False
2       2021-05-10 00:00:00     6      0  255          0   115   False
3       2021-05-10 00:00:00     9      0  255          0   115   False
4       2021-05-10 00:00:00    10      0  255          0   115   False
...                     ...   ...    ...  ...        ...   ...     ...
100794  2021-05-16 23:59:00    11      0  255          0   112   False
100795  2021-05-16 23:59:00    12      0  255          0   115   False
100796  2021-05-16 23:59:00    15      0  255          0   115   False
100797  2021-05-16 23:59:00    16      0   84          0    80   False
100798  2021-05-16 23:59:00    17      0   66          0   112   False

[100799 rows x 7 columns]

In [5]:
dataframes = []
for id in df["user"].unique():
    dataframes.append(df[df["user"]==id])

In [12]:
for dataframe in dataframes:
    new_df = dataframe[dataframe["hr"] != 255]
new_df

                   datetime  user  steps  hr  intensity  kind  school
2629    2021-05-10 04:22:00    17      0  84          0   122   False
2819    2021-05-10 04:41:00    17      0  82         10    16   False
2829    2021-05-10 04:42:00    17      0  77         41    80   False
2839    2021-05-10 04:43:00    17      0  89         23    80   False
2849    2021-05-10 04:44:00    17      0  83         52    80   False
...                     ...   ...    ...  ..        ...   ...     ...
100718  2021-05-16 23:51:00    17      0  62          0   112   False
100738  2021-05-16 23:53:00    17      0  72          0   112   False
100758  2021-05-16 23:55:00    17      0  63          0   112   False
100778  2021-05-16 23:57:00    17      0  74          0   112   False
100798  2021-05-16 23:59:00    17      0  66          0   112   False

[7674 rows x 7 columns]

In [1]:
import pandas as pd
import numpy as np

In [121]:
df = pd.read_feather("data/dfs/raw_band_data.feather")
df["TIMESTAMP"] = pd.to_datetime(df["TIMESTAMP"], unit='s')
df["TIMESTAMP"] = df["TIMESTAMP"].dt.tz_localize("CET")
df

NonExistentTimeError: 2021-03-28 02:00:00

In [33]:
df_ids = pd.read_feather("data/dfs/device.feather")

In [37]:
df_ids.rename({"_id":"DEVICE_ID"}, inplace=True, axis=1)
df_ids.drop(["NAME","MANUFACTURER","IDENTIFIER","TYPE","MODEL"], inplace=True, axis=1)
df_ids

    DEVICE_ID    ALIAS
0           1  Band 01
1           2  Band 02
2           3  Band 03
3           4  Band 04
4           5  Band 05
5           6  Band 06
6           7  Band 07
7           8  Band 08
8           9  Band 09
9          10  Band 10
10         11  Band 11
11         12  Band 12
12         14  Band 14
13         15  Band 15
14         16  Band 16
15         17  Band 17
16         18  Band 18
17         19  Band 20
18         20  Band 19
19         21  Band 23
20         22  Band 22
21         23  Band 21
22         24  Band 13
23         25  Band 24
24         26  Band 25

In [42]:
new_df = pd.merge(df,df_ids, on="DEVICE_ID",how="inner")
new_df.drop(["DEVICE_ID","USER_ID"],inplace=True, axis=1)
new_df

,TIMESTAMP,RAW_INTENSITY,STEPS,RAW_KIND,HEART_RATE,ALIAS
0,2021-03-18 17:09:00,29,0,112,255,Band 01
1,2021-03-18 17:10:00,3,0,112,255,Band 01
2,2021-03-18 17:11:00,0,0,115,255,Band 01
3,2021-03-18 17:12:00,8,0,112,255,Band 01
4,2021-03-18 17:13:00,2,0,112,255,Band 01
...,...,...,...,...,...,...
2057713,2021-05-26 18:01:00,18,0,112,255,Band 08
2057714,2021-05-26 18:02:00,17,0,112,76,Band 08
2057715,2021-05-26 18:03:00,2,0,112,255,Band 08
2057716,2021-05-26 18:04:00,20,0,112,255,Band 08
2057717,2021-05-26 18:05:00,0,0,112,83,Band 08

In [71]:
df_aliases = pd.read_excel("data/sample_mod.xlsx")
df_aliases.drop(["Časová značka", "Identifikace měření"],inplace=True,axis=1)
df_aliases.rename({"Alias":"ALIAS"},inplace=True, axis=1)
df_aliases

,Rok narození,Pohlaví,Výška [cm],Váha [kg],Rukovost,Přes noc budu mít náramek na ruce,ALIAS
0,2012,Muž,138,32.4,Pravoruký,Ano,Band 19
1,2013,Žena,129,35.5,Levoruký,Ano,Band 20
2,2013,Žena,134,34.0,Pravoruký,Ano,Band 16
3,2013,Muž,130,26.0,Pravoruký,Ano,Band 13
4,2012,Žena,139,31.0,Pravoruký,Ne,Band 14
5,2012,Žena,150,40.0,Levoruký,Ano,Band 18
6,2012,Muž,145,38.0,Pravoruký,Ano,Band 21
7,2012,Žena,136,31.5,Pravoruký,Ano,Band 17
8,2013,Žena,125,26.0,Pravoruký,Ano,Band 05
9,2012,Žena,146,36.0,Pravoruký,Ne,Band 12
10,2011,Žena,150,40.0,Pravoruký,Ne,Band 15
11,2012,Muž,150,38.0,Pravoruký,Ano,Band 22
12,2013,Žena,128,23.0,Pravoruký,Ano,Band 04
13,2011,Žena,137,25.0,Pravoruký,Ano,Band 10
14,2012,Muž,133,29.0,Levoruký,Ano,Band 11
15,2012,Žena,138,36.0,Pravoruký,Ne,Band 03
16,2012,Žena,136,33.0,Pravoruký,Ano,Band 06
17,2011,Žena,143,37.0,Pravoruký,Ano,Band 08
18,2011,Muž,150,38.0,Pravoruký,Ano,Band 09
19,2012,Muž,139,31.0,Levoruký,Ano,Band 23

In [275]:
merged_all = new_df.copy()
merged_all["ALIAS"] = merged_all["ALIAS"].astype("category")
df_aliases["ALIAS"] = df_aliases["ALIAS"].astype("category")
merged_all = pd.merge(merged_all, df_aliases, on="ALIAS",how="right")
merged_all

,TIMESTAMP,RAW_INTENSITY,STEPS,RAW_KIND,HEART_RATE,ALIAS,Rok narození,Pohlaví,Výška [cm],Váha [kg],Rukovost,Přes noc budu mít náramek na ruce
0,2021-03-25 17:00:00,25.0,0.0,80.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano
1,2021-03-25 17:01:00,17.0,0.0,80.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano
2,2021-03-25 17:02:00,0.0,0.0,90.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano
3,2021-03-25 17:03:00,31.0,0.0,80.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano
4,2021-03-25 17:04:00,0.0,0.0,90.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano
...,...,...,...,...,...,...,...,...,...,...,...,...
1514967,2021-05-26 17:23:00,0.0,0.0,115.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano
1514968,2021-05-26 17:24:00,0.0,0.0,115.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano
1514969,2021-05-26 17:25:00,0.0,0.0,115.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano
1514970,2021-05-26 17:26:00,0.0,0.0,115.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano
1514971,2021-05-26 17:27:00,0.0,0.0,115.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano

In [276]:
merged_all["DATETIME"] = merged_all["TIMESTAMP"].dt.tz_localize("utc")
merged_all["DATETIME_CET"] = merged_all["DATETIME"].dt.tz_convert("CET")
merged_all

,TIMESTAMP,RAW_INTENSITY,STEPS,RAW_KIND,HEART_RATE,ALIAS,Rok narození,Pohlaví,Výška [cm],Váha [kg],Rukovost,Přes noc budu mít náramek na ruce,DATETIME,DATETIME_CET
0,2021-03-25 17:00:00,25.0,0.0,80.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-03-25 17:00:00+00:00,2021-03-25 18:00:00+01:00
1,2021-03-25 17:01:00,17.0,0.0,80.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-03-25 17:01:00+00:00,2021-03-25 18:01:00+01:00
2,2021-03-25 17:02:00,0.0,0.0,90.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-03-25 17:02:00+00:00,2021-03-25 18:02:00+01:00
3,2021-03-25 17:03:00,31.0,0.0,80.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-03-25 17:03:00+00:00,2021-03-25 18:03:00+01:00
4,2021-03-25 17:04:00,0.0,0.0,90.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-03-25 17:04:00+00:00,2021-03-25 18:04:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514967,2021-05-26 17:23:00,0.0,0.0,115.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-26 17:23:00+00:00,2021-05-26 19:23:00+02:00
1514968,2021-05-26 17:24:00,0.0,0.0,115.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-26 17:24:00+00:00,2021-05-26 19:24:00+02:00
1514969,2021-05-26 17:25:00,0.0,0.0,115.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-26 17:25:00+00:00,2021-05-26 19:25:00+02:00
1514970,2021-05-26 17:26:00,0.0,0.0,115.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-26 17:26:00+00:00,2021-05-26 19:26:00+02:00
1514971,2021-05-26 17:27:00,0.0,0.0,115.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-26 17:27:00+00:00,2021-05-26 19:27:00+02:00

In [279]:
screening_start_1 = pd.to_datetime("2021-05-10 00:00:00+02:00")
screening_end_1 = pd.to_datetime("2021-05-17 00:00:00+02:00")
screening_start_2 = pd.to_datetime("2021-05-17 00:00:00+02:00")
screening_end_2 = pd.to_datetime("2021-05-24 00:00:00+02:00")
alias_col = merged_all["DATETIME_CET"]
filtering_alias = alias_col.map(lambda x: (x >= screening_start_1 and x < screening_end_1) or (
    x >= screening_start_2 and x < screening_end_2))
merged_all = merged_all[filtering_alias]

In [280]:
merged_all

,TIMESTAMP,RAW_INTENSITY,STEPS,RAW_KIND,HEART_RATE,ALIAS,Rok narození,Pohlaví,Výška [cm],Váha [kg],Rukovost,Přes noc budu mít náramek na ruce,DATETIME,DATETIME_CET
65100,2021-05-09 22:00:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:00:00+00:00,2021-05-10 00:00:00+02:00
65101,2021-05-09 22:01:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:01:00+00:00,2021-05-10 00:01:00+02:00
65102,2021-05-09 22:02:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:02:00+00:00,2021-05-10 00:02:00+02:00
65103,2021-05-09 22:03:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:03:00+00:00,2021-05-10 00:03:00+02:00
65104,2021-05-09 22:04:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:04:00+00:00,2021-05-10 00:04:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1510919,2021-05-23 21:55:00,0.0,0.0,122.0,71.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:55:00+00:00,2021-05-23 23:55:00+02:00
1510920,2021-05-23 21:56:00,0.0,0.0,122.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:56:00+00:00,2021-05-23 23:56:00+02:00
1510921,2021-05-23 21:57:00,0.0,0.0,112.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:57:00+00:00,2021-05-23 23:57:00+02:00
1510922,2021-05-23 21:58:00,26.0,0.0,121.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:58:00+00:00,2021-05-23 23:58:00+02:00
1510923,2021-05-23 21:59:00,0.0,0.0,121.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:59:00+00:00,2021-05-23 23:59:00+02:00

In [259]:
merged_all

,TIMESTAMP,RAW_INTENSITY,STEPS,RAW_KIND,HEART_RATE,ALIAS,Rok narození,Pohlaví,Výška [cm],Váha [kg],Rukovost,Přes noc budu mít náramek na ruce,DATETIME,DATETIME_CET
65100,2021-05-09 22:00:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:00:00+00:00,2021-05-10 00:00:00+02:00
65101,2021-05-09 22:01:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:01:00+00:00,2021-05-10 00:01:00+02:00
65102,2021-05-09 22:02:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:02:00+00:00,2021-05-10 00:02:00+02:00
65103,2021-05-09 22:03:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:03:00+00:00,2021-05-10 00:03:00+02:00
65104,2021-05-09 22:04:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:04:00+00:00,2021-05-10 00:04:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1509479,2021-05-22 21:55:00,5.0,0.0,112.0,92.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-22 21:55:00+00:00,2021-05-22 23:55:00+02:00
1509480,2021-05-22 21:56:00,0.0,0.0,112.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-22 21:56:00+00:00,2021-05-22 23:56:00+02:00
1509481,2021-05-22 21:57:00,0.0,0.0,112.0,94.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-22 21:57:00+00:00,2021-05-22 23:57:00+02:00
1509482,2021-05-22 21:58:00,0.0,0.0,112.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-22 21:58:00+00:00,2021-05-22 23:58:00+02:00
1509483,2021-05-22 21:59:00,0.0,0.0,112.0,94.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-22 21:59:00+00:00,2021-05-22 23:59:00+02:00

In [281]:
merged_all["WEEK_DAY"] = merged_all["DATETIME_CET"].dt.day_name()

/var/folders/3x/xzpm07px5298stx_b21ndbnw0000gn/T/ipykernel_47630/1265135182.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [282]:
schedule = pd.read_csv(
    "data/schedule.csv")

In [283]:
merged_all

,TIMESTAMP,RAW_INTENSITY,STEPS,RAW_KIND,HEART_RATE,ALIAS,Rok narození,Pohlaví,Výška [cm],Váha [kg],Rukovost,Přes noc budu mít náramek na ruce,DATETIME,DATETIME_CET,WEEK_DAY
65100,2021-05-09 22:00:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:00:00+00:00,2021-05-10 00:00:00+02:00,Monday
65101,2021-05-09 22:01:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:01:00+00:00,2021-05-10 00:01:00+02:00,Monday
65102,2021-05-09 22:02:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:02:00+00:00,2021-05-10 00:02:00+02:00,Monday
65103,2021-05-09 22:03:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:03:00+00:00,2021-05-10 00:03:00+02:00,Monday
65104,2021-05-09 22:04:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:04:00+00:00,2021-05-10 00:04:00+02:00,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1510919,2021-05-23 21:55:00,0.0,0.0,122.0,71.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:55:00+00:00,2021-05-23 23:55:00+02:00,Sunday
1510920,2021-05-23 21:56:00,0.0,0.0,122.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:56:00+00:00,2021-05-23 23:56:00+02:00,Sunday
1510921,2021-05-23 21:57:00,0.0,0.0,112.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:57:00+00:00,2021-05-23 23:57:00+02:00,Sunday
1510922,2021-05-23 21:58:00,26.0,0.0,121.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:58:00+00:00,2021-05-23 23:58:00+02:00,Sunday
1510923,2021-05-23 21:59:00,0.0,0.0,121.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:59:00+00:00,2021-05-23 23:59:00+02:00,Sunday

In [284]:
schedule

          day             subject   from     to  school
0      Monday               Czech   8:00   8:45    True
1      Monday                Math   8:55   9:40    True
2      Monday     Natural Science   9:50  10:35    True
3      Monday               Czech  11:00  11:45    True
4     Tuesday               Czech   8:00   8:45    True
5     Tuesday                Math   8:55   9:40    True
6     Tuesday  Physical Education   9:50  10:35    True
7     Tuesday             English  11:00  11:45    True
8     Tuesday               Czech  11:55  12:40    True
9   Wednesday               Czech   8:00   8:45    True
10  Wednesday                Math   8:55   9:40    True
11  Wednesday                 Art   9:50  10:35    True
12  Wednesday     Work Activities  11:00  11:45    True
13   Thursday               Czech   8:00   8:45    True
14   Thursday                Math   8:55   9:40    True
15   Thursday               Czech   9:50  10:35    True
16   Thursday  Physical Education  11:00  11:45    True
17   Thursday     Natural Science  11:55  12:40    True
18     Friday               Czech   8:00   8:45    True
19     Friday                Math   8:55   9:40    True
20     Friday               Czech   9:50  10:35    True
21     Friday               Music  11:00  11:45    True

In [285]:
merged_all.reset_index(inplace=True)
merged_all

,index,TIMESTAMP,RAW_INTENSITY,STEPS,RAW_KIND,HEART_RATE,ALIAS,Rok narození,Pohlaví,Výška [cm],Váha [kg],Rukovost,Přes noc budu mít náramek na ruce,DATETIME,DATETIME_CET,WEEK_DAY
0,65100,2021-05-09 22:00:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:00:00+00:00,2021-05-10 00:00:00+02:00,Monday
1,65101,2021-05-09 22:01:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:01:00+00:00,2021-05-10 00:01:00+02:00,Monday
2,65102,2021-05-09 22:02:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:02:00+00:00,2021-05-10 00:02:00+02:00,Monday
3,65103,2021-05-09 22:03:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:03:00+00:00,2021-05-10 00:03:00+02:00,Monday
4,65104,2021-05-09 22:04:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:04:00+00:00,2021-05-10 00:04:00+02:00,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324288,1510919,2021-05-23 21:55:00,0.0,0.0,122.0,71.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:55:00+00:00,2021-05-23 23:55:00+02:00,Sunday
324289,1510920,2021-05-23 21:56:00,0.0,0.0,122.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:56:00+00:00,2021-05-23 23:56:00+02:00,Sunday
324290,1510921,2021-05-23 21:57:00,0.0,0.0,112.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:57:00+00:00,2021-05-23 23:57:00+02:00,Sunday
324291,1510922,2021-05-23 21:58:00,26.0,0.0,121.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:58:00+00:00,2021-05-23 23:58:00+02:00,Sunday
324292,1510923,2021-05-23 21:59:00,0.0,0.0,121.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:59:00+00:00,2021-05-23 23:59:00+02:00,Sunday

In [286]:
for i, row in merged_all.iterrows():
    subject = False
    if row["WEEK_DAY"] == "Sunday" or row["WEEK_DAY"] == "Saturday":
        merged_all.at[i, 'SCHOOL'] = False
        merged_all.at[i, 'SUBJECT'] = "N/A"
        merged_all.at[i, 'BREAK'] = False
        merged_all.at[i, 'WEEKEND'] = True
    else:
        merged_all.at[i, 'WEEKEND'] = False
        day_schedule = schedule[schedule["day"]==row["WEEK_DAY"]]
        day_schedule.reset_index(inplace=True)
        c_time = row["DATETIME_CET"].time()
        #day_schedule["from"] = pd.Timestamp(day_schedule["from"]).time
        #day_schedule["to"] = pd.Timestamp(day_schedule["to"]).time
        school_start = pd.Timestamp(day_schedule.loc[0].at["from"]).time()
        school_end = pd.Timestamp(
            day_schedule.at[len(day_schedule["to"])-1, "to"]).time()
        for k, row in day_schedule.iterrows():
            subject_start = pd.Timestamp(row["from"]).time()
            subject_end = pd.Timestamp(row["to"]).time()
            if (subject_start <= c_time) and (c_time <= subject_end):
                merged_all.at[i,'SUBJECT'] = row["subject"]
                merged_all.at[i, 'BREAK'] = False
                merged_all.at[i, 'SCHOOL'] = True
                subject = True
                
        if school_start <= c_time and c_time <= school_end and subject==False:
            merged_all.at[i, 'SUBJECT'] = "N/A"
            merged_all.at[i, 'BREAK'] = True
            merged_all.at[i, 'SCHOOL'] = True
        elif subject == False: 
            merged_all.at[i, 'SUBJECT'] = "N/A"
            merged_all.at[i, 'BREAK'] = False
            merged_all.at[i, 'SCHOOL'] = False

/var/folders/3x/xzpm07px5298stx_b21ndbnw0000gn/T/ipykernel_47630/3702689828.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/3x/xzpm07px5298stx_b21ndbnw0000gn/T/ipykernel_47630/3702689828.py:32: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/3x/xzpm07px5298stx_b21ndbnw0000gn/T/ipykernel_47630/3702689828.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/3x/xzpm07px5298stx_b21ndbnw0000gn/T/ipykernel_47630/3702689828.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [287]:
merged_all

,index,TIMESTAMP,RAW_INTENSITY,STEPS,RAW_KIND,HEART_RATE,ALIAS,Rok narození,Pohlaví,Výška [cm],Váha [kg],Rukovost,Přes noc budu mít náramek na ruce,DATETIME,DATETIME_CET,WEEK_DAY,WEEKEND,SUBJECT,BREAK,SCHOOL
0,65100,2021-05-09 22:00:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:00:00+00:00,2021-05-10 00:00:00+02:00,Monday,False,N/A,False,False
1,65101,2021-05-09 22:01:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:01:00+00:00,2021-05-10 00:01:00+02:00,Monday,False,N/A,False,False
2,65102,2021-05-09 22:02:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:02:00+00:00,2021-05-10 00:02:00+02:00,Monday,False,N/A,False,False
3,65103,2021-05-09 22:03:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:03:00+00:00,2021-05-10 00:03:00+02:00,Monday,False,N/A,False,False
4,65104,2021-05-09 22:04:00,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-09 22:04:00+00:00,2021-05-10 00:04:00+02:00,Monday,False,N/A,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324288,1510919,2021-05-23 21:55:00,0.0,0.0,122.0,71.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:55:00+00:00,2021-05-23 23:55:00+02:00,Sunday,True,N/A,False,False
324289,1510920,2021-05-23 21:56:00,0.0,0.0,122.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:56:00+00:00,2021-05-23 23:56:00+02:00,Sunday,True,N/A,False,False
324290,1510921,2021-05-23 21:57:00,0.0,0.0,112.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:57:00+00:00,2021-05-23 23:57:00+02:00,Sunday,True,N/A,False,False
324291,1510922,2021-05-23 21:58:00,26.0,0.0,121.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:58:00+00:00,2021-05-23 23:58:00+02:00,Sunday,True,N/A,False,False
324292,1510923,2021-05-23 21:59:00,0.0,0.0,121.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 21:59:00+00:00,2021-05-23 23:59:00+02:00,Sunday,True,N/A,False,False

In [288]:
merged_all.to_csv("data.csv")

In [289]:
merged_all.drop(["index","TIMESTAMP","DATETIME"],inplace=True,axis=1)
merged_all

/var/folders/3x/xzpm07px5298stx_b21ndbnw0000gn/T/ipykernel_47630/1039823853.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,RAW_INTENSITY,STEPS,RAW_KIND,HEART_RATE,ALIAS,Rok narození,Pohlaví,Výška [cm],Váha [kg],Rukovost,Přes noc budu mít náramek na ruce,DATETIME_CET,WEEK_DAY,WEEKEND,SUBJECT,BREAK,SCHOOL
0,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-10 00:00:00+02:00,Monday,False,N/A,False,False
1,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-10 00:01:00+02:00,Monday,False,N/A,False,False
2,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-10 00:02:00+02:00,Monday,False,N/A,False,False
3,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-10 00:03:00+02:00,Monday,False,N/A,False,False
4,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-10 00:04:00+02:00,Monday,False,N/A,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324288,0.0,0.0,122.0,71.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 23:55:00+02:00,Sunday,True,N/A,False,False
324289,0.0,0.0,122.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 23:56:00+02:00,Sunday,True,N/A,False,False
324290,0.0,0.0,112.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 23:57:00+02:00,Sunday,True,N/A,False,False
324291,26.0,0.0,121.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 23:58:00+02:00,Sunday,True,N/A,False,False
324292,0.0,0.0,121.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 23:59:00+02:00,Sunday,True,N/A,False,False

In [290]:
merged_all.rename({"Rok narození": "YoB", "Pohlaví": "Sex", "Výška [cm]": "Height", "Váha [kg]": "Weight", "Rukovost": "DomHand", "Přes noc budu mít náramek na ruce":"BandAtNight"}, axis=1, inplace=True)
merged_all

/var/folders/3x/xzpm07px5298stx_b21ndbnw0000gn/T/ipykernel_47630/3827418771.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,RAW_INTENSITY,STEPS,RAW_KIND,HEART_RATE,ALIAS,YoB,Sex,Height,Weight,DomHand,BandAtNight,DATETIME_CET,WEEK_DAY,WEEKEND,SUBJECT,BREAK,SCHOOL
0,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-10 00:00:00+02:00,Monday,False,N/A,False,False
1,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-10 00:01:00+02:00,Monday,False,N/A,False,False
2,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-10 00:02:00+02:00,Monday,False,N/A,False,False
3,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-10 00:03:00+02:00,Monday,False,N/A,False,False
4,0.0,0.0,115.0,255.0,Band 19,2012,Muž,138,32.4,Pravoruký,Ano,2021-05-10 00:04:00+02:00,Monday,False,N/A,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324288,0.0,0.0,122.0,71.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 23:55:00+02:00,Sunday,True,N/A,False,False
324289,0.0,0.0,122.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 23:56:00+02:00,Sunday,True,N/A,False,False
324290,0.0,0.0,112.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 23:57:00+02:00,Sunday,True,N/A,False,False
324291,26.0,0.0,121.0,255.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 23:58:00+02:00,Sunday,True,N/A,False,False
324292,0.0,0.0,121.0,78.0,Band 23,2012,Muž,139,31.0,Levoruký,Ano,2021-05-23 23:59:00+02:00,Sunday,True,N/A,False,False

In [291]:
merged_all.to_feather("data/dfs/data_merged_all.feather")

In [353]:
merged_all = pd.read_feather("data/dfs/data_merged_all.feather")

In [341]:
daily_avg = {"Alias":[],"Steps":[],"Rate":[]}
for id in student_ids:
    example_student = merged_all[merged_all["ALIAS"] == "Band 19"]
    for day in range(13):
        example_student = example_student[(example_student["DATETIME_CET"] >= f"2021-5-{10+day} 00:00:00")]
        example_student = example_student[(example_student["DATETIME_CET"] < f"2021-5-{11+day} 00:00:00")]
        dailysteps = sum(example_student.STEPS)
        ratecount = 0
        rateavg = 0
        for i,row in example_student.iterrows():
            if row["HEART_RATE"] != 255.0 or row["HEART_RATE"] != 0.0 or row["HEART_RATE"] != -1.0:
                rateavg += row["HEART_RATE"]
                ratecount+=1
                    
    stepavg = int(dailysteps/13)
    rateavg = int(rateavg/ratecount) if ratecount !=0 else "N/A"
    daily_avg["Alias"].append(id)
    daily_avg["Steps"].append(stepavg)
    daily_avg["Rate"].append(rateavg)

In [340]:
avg_df = pd.DataFrame(daily_avg)
avg_df

      Alias  Steps Rate
0   Band 19      0  N/A
1   Band 20      0  N/A
2   Band 16      0  N/A
3   Band 18      0  N/A
4   Band 21      0  N/A
5   Band 17      0  N/A
6   Band 05      0  N/A
7   Band 12      0  N/A
8   Band 15      0  N/A
9   Band 22      0  N/A
10  Band 04      0  N/A
11  Band 10      0  N/A
12  Band 11      0  N/A
13  Band 03      0  N/A
14  Band 06      0  N/A
15  Band 08      0  N/A
16  Band 09      0  N/A
17  Band 23      0  N/A

In [345]:
week1 = pd.read_feather("data/dfs/week1.feather")
week2 = pd.read_feather("data/dfs/week2.feather")
print(len(week1["ALIAS"].unique()))
print(len(week2["ALIAS"].unique()))

18
18

In [350]:
kind_codes = {"Running": [98, 50, 66, 82],
              "Walking": [1, 16, 17, 33, 49, 18, 34, 65],
              "Light_Sleep": [112],
              "Heavy_Sleep": [122],
              "Sit": [80, 96, 99],
              "Standing": [96],
              "SedentaryInLast5Minutes": [90],
              "NotWorn": [3],
              "NotWorn_Charging": [6],
              "NotWorn_FaceUp": [83],
              "NotWorn_FaceDown": 115}