In [1]:
import pandas as pd

In [2]:
import sqlite3 as sq

con = sq.connect("data/Gadgetbridge.sqlite")

things = con.execute("""SELECT name FROM sqlite_schema 
WHERE type IN ('table','view') 
AND name NOT LIKE 'sqlite_%'
ORDER BY 1;""").fetchall()
print(len(things))
print(things)

37
[('ACTIVITY_DESCRIPTION',), ('ACTIVITY_DESC_TAG_LINK',), ('ALARM',), ('BANGLE_JSACTIVITY_SAMPLE',), ('BASE_ACTIVITY_SUMMARY',), ('BATTERY_LEVEL',), ('CALENDAR_SYNC_STATE',), ('CASIO_GBX100_ACTIVITY_SAMPLE',), ('DEVICE',), ('DEVICE_ATTRIBUTES',), ('HPLUS_HEALTH_ACTIVITY_OVERLAY',), ('HPLUS_HEALTH_ACTIVITY_SAMPLE',), ('HYBRID_HRACTIVITY_SAMPLE',), ('ID115_ACTIVITY_SAMPLE',), ('JYOU_ACTIVITY_SAMPLE',), ('LEFUN_ACTIVITY_SAMPLE',), ('LEFUN_BIOMETRIC_SAMPLE',), ('LEFUN_SLEEP_SAMPLE',), ('MAKIBES_HR3_ACTIVITY_SAMPLE',), ('MI_BAND_ACTIVITY_SAMPLE',), ('NO1_F1_ACTIVITY_SAMPLE',), ('NOTIFICATION_FILTER',), ('NOTIFICATION_FILTER_ENTRY',), ('PEBBLE_HEALTH_ACTIVITY_OVERLAY',), ('PEBBLE_HEALTH_ACTIVITY_SAMPLE',), ('PEBBLE_MISFIT_SAMPLE',), ('PEBBLE_MORPHEUZ_SAMPLE',), ('SONY_SWR12_SAMPLE',), ('TAG',), ('TLW64_ACTIVITY_SAMPLE',), ('USER',), ('USER_ATTRIBUTES',), ('WATCH_XPLUS_ACTIVITY_SAMPLE',), ('WATCH_XPLUS_HEALTH_ACTIVITY_OVERLAY',), ('XWATCH_ACTIVITY_SAMPLE',), ('ZE_TIME_ACTIVITY_SAMPLE',), ('android_metadata',)]

In [3]:
cursor = con.execute("""
SELECT * FROM MI_BAND_ACTIVITY_SAMPLE;
""")
column_names = [description[0] for description in cursor.description]
data = cursor.fetchall()
df = pd.DataFrame.from_records(data, columns=column_names)
df.head()

    TIMESTAMP  DEVICE_ID  USER_ID  RAW_INTENSITY  STEPS  RAW_KIND  HEART_RATE
0  1616087340          1        1             29      0       112         255
1  1616087400          1        1              3      0       112         255
2  1616087400          2        1             23      0       112         255
3  1616087460          1        1              0      0       115         255
4  1616087460          2        1              0      0        80         255

In [4]:
df.to_csv("raw_band_data.csv")

In [ ]:
df.to_feather("raw_band_data_feather.feather")